

<div>
      <h2><%= @creature.name %></h2>
      <button class="btn links-btn">
          <a href="/creatures">Retour à la liste</a>
      </button>
  </div>
  <div class="link-c">
      <%= link_to "Editer", edit_creature_path(@creature),:class => 'btn actions-btn' %>
      <%= link_to "Supprimer", creature_path(@creature),
                    method: :delete,
                    data: { confirm: "Êtes-vous certain de supprimer cette créature ?" } , :class => 'btn actions-btn'  %>
  </div>
  <div class="row display">
      <div class="col-lg-4">
          <div class="card">
              <div class="card-header">
                  <p class="card-text"><%= @creature.description %></p>
              </div>
              <div class="card-body">
                  <%= image_tag @creature.main_image, :class => 'card-img-bottom' %>
              </div>
          </div>
      </div>
  </div>
